/* Banner Principal */ 

header{
    height: 100%;
    width: 100%;
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    box-sizing: border-box !important;
}

.banner-filter{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

.banner-content{
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #cccccc;
}

.banner-content>h2{
    color: #cccccc;
    font-size: 28px;
    margin-bottom: 40px; 
}

.banner-content>h3{
    color: teal;
    font-size: 56px;
}

.banner-content>p{
    margin-top: 25px;
}

.banner-content>p>a{
    text-decoration: none;
    color: royalblue;
}
.banner-social-networks{
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*
.banner-content>ul{
    margin-top: 60px;
}


.banner-content>ul>li{
    padding: 20px;
    margin: 25px 10px;
    border-radius: 40px;
    font-size: 30px;
    background-color: rgba(0,0,0,0.6);
    transition: 0.5s;
    display: inline;
}

.banner-content>ul>li:hover{
    padding: 30px;
    border-radius: 60px;
}
*/

.banner-social-networks i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 25px 10px;
    border-radius: 50%;
    font-size: 30px;
    background-color: rgba(0,0,0,0.6);
    transition: 0.5s;
}

.banner-social-networks a{
    text-decoration: none;
    color: #ccc;
}

.banner-social-networks i:hover{
    padding: 30px;
    border-radius: 60px;
    background-color: rgba(0, 128, 128, 0.60);
}


nav{
    height: 100px;
    background-color: chocolate;
}