@media (max-width: 900px){


     nav {
        display: none;
    }

    header > .banner-filter > .banner-content h3{
        font-size: 32px;
    }
    
    .navreplace > .menumobile{
        display: block;
    }

    .about> .container-flex{
        flex-direction: column;
    }

    .about .pic{
        margin: 40px;
    }

    .about .texto{
        margin: 0 0 70px 0 ;
        width: 90%;
    }

    .school > .container-flex > .school-wrapper{
        flex-direction: column;
        margin: 20px 20px 70px 20px ;
    }

    .school > .container-flex > .school-wrapper > .school-item{
        margin: 30px 0;
    }

    .courses > .container-flex{
        flex-direction: column;
    }

    .courses > .container-flex > .mcse, .courses > .container-flex > .mcsa {
        margin: 20px 20px 20px 20px ;
    }

    .courses > .container > .line{
        display: none;
    }

    .courses > .container > h3{
        text-align: center;
        width: 100%;
    }

    .experience > .container > .headers{
        display: none;
    }

    .experience > .container > .contents{
        display: block;
    }

    .experience > .container > .contents > .contents-item{
        display:block;
        height: auto;
        text-align: center;
    }

    .experience > .container > .contents > .contents-item > .contents-logo{
        height: 200px;
        width: 200px;
        text-align: center;
        margin: 0 auto;
        background-color: #ccc;
        display: block;
    }  
    
    .experience > .container > .contents > .contents-item > .contents-texto{
        display: block;
        width: 100%;
        min-height: 200px;
        background-color: #ccc;
    }


    .projects .projects-container .project-wrapper {
        text-align: center;
        width: 95%;
        margin: 20px auto;
         
    }

    .projects .projects-container .project-wrapper img{
        display: block;
        width: 100%;
        margin: 15px 0;

    } 
    
    .projects .projects-container .project-wrapper .texto{
        display: block;
        width: 100%;
    }

    .projects .projects-container .project-wrapper .texto h4{
        text-align: center;
    }
        

}