.container{
    margin: 0 auto;
    max-width: 1366px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about > .section-banner{
    background-image: url(../images/about-bg.png);
    background-size: cover;
}

.about > .container >.pic{
    height: 250px;
    width:250px;
    min-width: 250px;
    border-radius: 50%;
    background-image: url(../images/photo.png);
    background-size: cover;
    margin: 100px 0;
}

.about > .container > .texto{
    max-width: 900px;
    text-align: justify;
}

.about > .container > .texto > p{
    margin-top: 10px;
    text-indent: 50px;
}


.school > .section-banner{
    background-image: url(../images/school-bg.png);
    background-size: cover;
}

/*.school > .container{background-color: brown;}*/

.school > .container > .school-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 75px 0;
}

.school > .container > .school-wrapper > .school-item{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 30px;
    -webkit-box-shadow: 20px 20px 9px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 20px 20px 9px 1px rgba(0,0,0,0.7);
    box-shadow: 20px 20px 9px 1px rgba(0,0,0,0.7);
}